<div class="container__small-card">
  <div class="container__smal-card-content">
    <div class="small-card__photo">
      <img
        src="https://imgs.search.brave.com/dun_AcJF4ngOc7g-BPCgCV_NSbCQktqvtu5NpqqjQEM/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Z/X28wTThOMXRyUkEx/bmxTaW1tTE1nSGFF/SyZwaWQ9QXBp"
        alt="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></h1>
    </div>

    <div class="container__small-card__separator">
      <hr />
    </div>
  </div>
</div>