<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card Id="1"
      photoCover="https://imgs.search.brave.com/xf3JuO_R4NzLbJRd7n-WOBxm4AvnaG6yZqEJ1o6sHcg/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5s/UzluZEtnVVB0MXBW/OTRadUJsRklBSGFF/SyZwaWQ9QXBp"
      cardTitle="NOVO HOMEM DE FERRO 3D" cardDescription="Marvel anuncia novo homem de ferro">

    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="Nova série anunciada no Disney +"
      photoCover="https://imgs.search.brave.com/dun_AcJF4ngOc7g-BPCgCV_NSbCQktqvtu5NpqqjQEM/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Z/X28wTThOMXRyUkEx/bmxTaW1tTE1nSGFF/SyZwaWQ9QXBp">
    </app-small-card>
    <app-small-card Id="3" cardTitle="Wolwerine está de volta"
      photoCover="https://imgs.search.brave.com/AGPtZ087z3L9N96OFKTpkAnrkMCUANtPN5TLCaCE-gw/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2Uz/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5h/UC1NZmpWQklDUUNn/ak52WThwbnl3SGFF/SyZwaWQ9QXBp">
    </app-small-card>
    <app-small-card Id="4" cardTitle="Novo filme do Homem Aranha está em produção"
      photoCover="https://imgs.search.brave.com/FYv6WWXx5H48whyHuPQ1x1bDf00QWTnYi11ncazwWMg/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5M/NExaMGp0MndBOFRs/VGk2N3VDUFV3SGFF/byZwaWQ9QXBp">
    </app-small-card>
  </div>
</div>